# IDE
/.idea/

# Build output
target/
dependency-reduced-pom.xml
*.class

# Packaged artifacts
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Logs
*.log

# JVM crash dumps (see http://www.java.com/en/download/help/error_hotspot.xml)
hs_err_pid*
replay_pid*

# BlueJ
*.ctxt

# J2ME
.mtj.tmp/