services:
  activemq:
    image: rmohr/activemq:latest
    container_name: activemq
    ports:
      - "0.0.0.0:61616:61616"
      - "0.0.0.0:8161:8161"
    networks:
      - search-network

  hazelcast-master:
    image: hazelcast/hazelcast:5.6.0
    container_name: hazelcast-master
    ports:
      - "5701:5701"
    environment:
      - HZ_CLUSTERNAME=SearchEngine
    networks:
      - search-network

  ingestion-service:
    container_name: ingestion-service
    build:
      context: .
      dockerfile: ingestion-service/Dockerfile
    ports:
      - "7001:7001"
    depends_on:
      - activemq
      - hazelcast-master
    environment:
      - BROKER_URL=tcp://activemq:61616
      - HZ_CLUSTER_NAME=SearchEngine
      - HZ_MEMBERS=hazelcast-master:5701
      - AUTO_LOAD_BOOKS=true
      - NODE_NAME=ingestion-master
    networks:
      - search-network

networks:
  search-network:
    driver: bridge
