services:
  hazelcast-worker:
    image: hazelcast/hazelcast:5.6.0
    container_name: hazelcast-worker
    ports:
      - "5701:5701"
    environment:
      - HZ_CLUSTERNAME=SearchEngine
      - HZ_PUBLIC_ADDRESS=${HOST_IP}:5701
      - HZ_SEED_MEMBERS=${MASTER_IP}:5701
    volumes:
      - ./hazelcast.xml:/opt/hazelcast.xml:ro
    networks:
      - search-network
    restart: unless-stopped

  # NECESARIO: Recibe los archivos del Master y los escribe en disco
  ingestion-service-worker:
    container_name: ingestion-service
    build:
      context: .
      dockerfile: ingestion-service/Dockerfile
    # No exponemos puerto 7001 para evitar conflictos, o usamos uno distinto si quieres debuggear
    depends_on:
      - hazelcast-worker
    environment:
      - BROKER_URL=tcp://${MASTER_IP}:61616
      - HZ_CLUSTER_NAME=SearchEngine
      - HZ_MEMBERS=${MASTER_IP}:5701
      - DATALAKE_PATH=/app/datalake
      - AUTO_LOAD_BOOKS=false # El worker NO descarga, solo sincroniza
    volumes:
      - ./datalake:/app/datalake # <--- ESCRIBE EN SU DISCO LOCAL
    networks:
      - search-network
    restart: unless-stopped

  indexing-service-1:
    container_name: indexing-service-1
    build:
      context: .
      dockerfile: indexing-service/Dockerfile
    depends_on:
      - hazelcast-worker
      - ingestion-service-worker
    environment:
      - BROKER_URL=tcp://${MASTER_IP}:61616
      - HZ_CLUSTER_NAME=SearchEngine
      - HZ_MEMBERS=${MASTER_IP}:5701
      - DATALAKE_BASE_PATH=/app/datalake
      - QUEUE_NAME=ingested.document
    volumes:
      - ./datalake:/app/datalake # <--- LEE DE SU DISCO LOCAL (donde escribió ingestion)
    networks:
      - search-network
    restart: unless-stopped

  indexing-service-2:
    container_name: indexing-service-2
    build:
      context: .
      dockerfile: indexing-service/Dockerfile
    depends_on:
      - hazelcast-worker
      - ingestion-service-worker
    environment:
      - BROKER_URL=tcp://${MASTER_IP}:61616
      - HZ_CLUSTER_NAME=SearchEngine
      - HZ_MEMBERS=${MASTER_IP}:5701
      - DATALAKE_BASE_PATH=/app/datalake
      - QUEUE_NAME=ingested.document
    volumes:
      - ./datalake:/app/datalake # <--- LEE DE SU DISCO LOCAL (donde escribió ingestion)
    networks:
      - search-network
    restart: unless-stopped

  indexing-service-3:
    container_name: indexing-service-3
    build:
      context: .
      dockerfile: indexing-service/Dockerfile
    depends_on:
      - hazelcast-worker
      - ingestion-service-worker
    environment:
      - BROKER_URL=tcp://${MASTER_IP}:61616
      - HZ_CLUSTER_NAME=SearchEngine
      - HZ_MEMBERS=${MASTER_IP}:5701
      - DATALAKE_BASE_PATH=/app/datalake
      - QUEUE_NAME=ingested.document
    volumes:
      - ./datalake:/app/datalake # <--- LEE DE SU DISCO LOCAL (donde escribió ingestion)
    networks:
      - search-network
    restart: unless-stopped

  search-service-1:
    container_name: search-service-1
    build:
      context: .
      dockerfile: search-service/Dockerfile
    ports:
      - "8081:8080"
    depends_on:
      - hazelcast-worker
    environment:
      - HZ_CLUSTER_NAME=SearchEngine
      - HZ_MEMBERS=${MASTER_IP}:5701
      - SERVER_PORT=8080
    networks:
      - search-network
    restart: unless-stopped


  search-service-2:
    container_name: search-service-2
    build:
      context: .
      dockerfile: search-service/Dockerfile
    ports:
      - "8081:8080"
    depends_on:
      - hazelcast-worker
    environment:
      - HZ_CLUSTER_NAME=SearchEngine
      - HZ_MEMBERS=${MASTER_IP}:5701
      - SERVER_PORT=8080
    networks:
      - search-network
    restart: unless-stopped

  search-service-3:
    container_name: search-service-3
    build:
      context: .
      dockerfile: search-service/Dockerfile
    ports:
      - "8081:8080"
    depends_on:
      - hazelcast-worker
    environment:
      - HZ_CLUSTER_NAME=SearchEngine
      - HZ_MEMBERS=${MASTER_IP}:5701
      - SERVER_PORT=8080
    networks:
      - search-network
    restart: unless-stopped

networks:
  search-network:
    driver: bridge