services:
  ingestion-service:
    build:
      context: ./ingestion-service
    image: ingestion-service:latest
    container_name: ingestion-service
    ports:
      - "5701:5701"
    command: ['datalake']
    environment:
      HZ_PORT: "5701"
      HZ_PUBLIC_ADDRESS: xxx:5701
      HZ_MEMBERS: xxx:5701
      HAZELCAST_CLUSTER_NAME: SearchEngine
      BROKER_URL: tcp://xxx:61616
      REPLICATION_FACTOR: 2
      INDEXING_BUFFER_FACTOR: 2
    volumes:
      - ./mnt/datalake:/app/datalake
    networks:
      - search_net
    profiles:
      - backend

  indexing-service:
    build:
      context: ./indexing-service
    image: indexing-service:latest
    container_name: indexing-service
    ports:
      - "5702:5702"
    command: ['datalake']
    environment:
      HZ_PORT: "5702"
      HZ_PUBLIC_ADDRESS: xxx:5702
      HZ_MEMBERS: xxx:5701
      HAZELCAST_CLUSTER_NAME: SearchEngine
      BROKER_URL: tcp://xxx:61616
    volumes:
      - ./mnt/datalake:/app/datalake
    networks:
      - search_net
    profiles:
      - backend

  search-service:
    build:
      context: ./search-service
    image: search-service:latest
    container_name: search-service
    ports:
      - "5703:5703"
      - "7003:7003"
    environment:
      HZ_PORT: "5703"
      SERVICE_PORT: "7003"
      HZ_PUBLIC_ADDRESS: xxx:5703
      HZ_MEMBERS: xxx:5701
      HAZELCAST_CLUSTER_NAME: SearchEngine
      SORTING_CRITERIA: "frequency" #frequency or id
    networks:
      - search_net
    profiles:
      - backend

  benchmark:
    build:
      context: ./benchmarking
    image: benchmark:latest
    container_name: benchmark
    ports:
      - "5704:5704"
    command: ['datalake']
    environment:
      BENCHMARK_MODE: recoverytime
      HZ_PORT: "5704"
      HZ_PUBLIC_ADDRESS: xxx:5704
      HZ_MEMBERS: xxx:5701
      HAZELCAST_CLUSTER_NAME: SearchEngine
      BROKER_URL: tcp://xxx:61616
    networks:
      - search_net
    profiles:
      - benchmark

  activemq:
    image: rmohr/activemq:latest
    container_name: activemq
    restart: always
    ports:
      - "61616:61616"
      - "8161:8161"
    environment:
      - ACTIVEMQ_ADMIN_LOGIN=admin
      - ACTIVEMQ_ADMIN_PASSWORD=admin
    networks:
      - search_net
    profiles:
      - broker

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./search-service/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - search_net
    profiles:
      - loadbalancer

networks:
  search_net:
    driver: bridge
