services:

  activemq:
    image: rmohr/activemq:latest
    container_name: activemq
    ports:
      - "61616:61616"   # JMS
      - "8161:8161"     # Web console
    networks:
      - bigdata

  hazelcast1:
    image: hazelcast/hazelcast:5.3.2
    container_name: hazelcast1
    environment:
      - HZ_CLUSTERNAME=SearchEngine
    ports:
      - "5701:5701"
    networks:
      - bigdata

  hazelcast2:
    image: hazelcast/hazelcast:5.3.2
    container_name: hazelcast2
    environment:
      - HZ_CLUSTERNAME=SearchEngine
    networks:
      - bigdata

  hazelcast3:
    image: hazelcast/hazelcast:5.3.2
    container_name: hazelcast3
    environment:
      - HZ_CLUSTERNAME=SearchEngine
    networks:
      - bigdata

  ingestion-service:
    build: ./ingestion-service
    container_name: ingestion-service
    ports:
      - "7001:7001"
    environment:
      - BROKER_URL=tcp://activemq:61616
      - REPLICATION_FACTOR=3
      - DATALAKE_PATH=datalake
      - DOWNLOAD_LOG_PATH=downloads.log
    depends_on:
      - activemq
      - hazelcast1
      - hazelcast2
      - hazelcast3
    networks:
      - bigdata

networks:
  bigdata:
    driver: bridge