services:
  activemq:
    image: rmohr/activemq:latest
    container_name: activemq
    ports:
      - "61616:61616"
      - "8161:8161"
    volumes:
      - activemq_data:/opt/activemq/data
    networks:
      - search-network
    restart: unless-stopped

  hazelcast1:
    image: hazelcast/hazelcast:5.6.0
    container_name: hazelcast1
    ports:
      - "5701:5701"
    environment:
      - HZ_CLUSTERNAME=SearchEngine
      - HZ_PUBLIC_ADDRESS=${HOST_IP}:5701
      - HZ_SEED_MEMBERS=${HOST_IP}:5701,${WORKER1_IP}:5701,${WORKER2_IP}:5701,${WORKER3_IP}:5701,${WORKER4_IP}:5701
    volumes:
      - ./hazelcast.xml:/opt/hazelcast/config/hazelcast.xml:ro
    networks:
      - search-network
    restart: unless-stopped

  ingestion-service:
    container_name: ingestion-service
    build:
      context: .
      dockerfile: ingestion-service/Dockerfile
    ports:
      - "7001:7001"
    depends_on:
      - activemq
      - hazelcast1
    environment:
      - BROKER_URL=tcp://activemq:61616
      - HZ_CLUSTER_NAME=SearchEngine
      - HZ_MEMBERS=hazelcast1:5701
      - DATALAKE_PATH=/app/datalake
    volumes:
      - shared_datalake:/app/datalake
    networks:
      - search-network
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx-lb
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - ingestion-service
    networks:
      - search-network
    restart: unless-stopped

networks:
  search-network:
    driver: bridge

volumes:
  activemq_data:
  shared_datalake:
    driver: local
