services:

  activemq:
    image: rmohr/activemq:latest
    container_name: activemq
    ports:
      - "61616:61616"   # JMS
      - "8161:8161"     # Web console
    networks:
      - bigdata

  hazelcast1:
    image: hazelcast/hazelcast:5.5.0
    container_name: hazelcast1
    environment:
      - HZ_CLUSTERNAME=search-cluster
    ports:
      - "5701:5701"
    networks:
      - bigdata

  hazelcast2:
    image: hazelcast/hazelcast:5.5.0
    container_name: hazelcast2
    environment:
      - HZ_CLUSTERNAME=search-cluster
    networks:
      - bigdata

  hazelcast3:
    image: hazelcast/hazelcast:5.5.0
    container_name: hazelcast3
    environment:
      - HZ_CLUSTERNAME=search-cluster
    networks:
      - bigdata

  ingestion-service:
    container_name: ingestion-service
    build:
      context: .
      dockerfile: ingestion-service/Dockerfile
    depends_on:
      - activemq
    networks:
      - bigdata

  indexing-service:
    container_name: indexing-service
    build:
      context: .
      dockerfile: indexing-service/Dockerfile
    depends_on:
      - activemq
      - hazelcast1
      - hazelcast2
      - hazelcast3
    networks:
      - bigdata

  search-service:
    container_name: search-service
    build:
      context: .
      dockerfile: search-service/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - hazelcast1
      - hazelcast2
      - hazelcast3
    networks:
      - bigdata

networks:
  bigdata:
    driver: bridge
